In [1]:
#--- Import Pandas ---
import pandas as pd
#--- Read in dataset ----
df = pd.read_csv('dailyActivity.csv')

# ---WRITE YOUR CODE FOR TASK 1 ---
#--- Inspect data --
df.info()
df.head()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
count,9.400000e+02,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,4.855407e+09,7637.910638,5.489702,5.475351,0.108171,1.502681,0.567543,3.340819,0.001606,21.164894,13.564894,192.812766,991.210638,2303.609574
std,2.424805e+09,5087.150742,3.924606,3.907276,0.619897,2.658941,0.883580,2.040655,0.007346,32.844803,19.987404,109.174700,301.267437,718.166862
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,3789.750000,2.620000,2.620000,0.000000,0.000000,0.000000,1.945000,0.000000,0.000000,0.000000,127.000000,729.750000,1828.500000
50%,4.445115e+09,7405.500000,5.245000,5.245000,0.000000,0.210000,0.240000,3.365000,0.000000,4.000000,6.000000,199.000000,1057.500000,2134.000000
75%,6.962181e+09,10727.000000,7.712500,7.710000,0.000000,2.052500,0.800000,4.782500,0.000000,32.000000,19.000000,264.000000,1229.500000,2793.250000
max,8.877689e+09,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000

In [2]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Verify removal of duplicates
num_duplicates_after = df_cleaned.duplicated().sum()
print(f"Number of duplicate rows after cleaning: {num_duplicates_after}")

# Optional: Save the cleaned data to a new CSV file
df_cleaned.to_csv('dailyActivity_cleaned.csv', index=False)

Number of duplicate rows: 0
Number of duplicate rows after cleaning: 0

In [3]:
null_counts = df.isnull().sum()

# Display the null counts
print("Count of null values in each column:")
print(null_counts)

Count of null values in each column:
Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

In [4]:
import numpy as np
from scipy import stats
import pandas as pd
#--- WRITE YOUR CODE FOR TASK 4 ---
#df = ...

#--- Inspect data ---
z_scores_total_steps = np.abs(stats.zscore(df['TotalSteps']))
z_scores_calories = np.abs(stats.zscore(df['Calories']))

# Define a threshold for identifying outliers
threshold = 3

# Identify outliers
outliers_total_steps = np.where(z_scores_total_steps > threshold)
outliers_calories = np.where(z_scores_calories > threshold)

# Display the indices of outliers
print("Indices of outliers in 'TotalSteps':", outliers_total_steps[0])
print("Indices of outliers in 'Calories':", outliers_calories[0])

# Inspect data - Display rows with outliers in 'TotalSteps' and 'Calories'
print("\nOutliers in 'TotalSteps':")
print(df.iloc[outliers_total_steps])

print("\nOutliers in 'Calories':")
print(df.iloc[outliers_calories])

# Optional: Remove outliers to clean the dataset
df_cleaned = df[(z_scores_total_steps <= threshold) & (z_scores_calories <= threshold)]

# Inspect the cleaned data
print("\nCleaned Data:")
print(df_cleaned.head())

Indices of outliers in 'TotalSteps': [ 50 780 909 913 924 927]
Indices of outliers in 'Calories': [ 30 345 572 585 586 606 653 736 817 879 908 913]

Outliers in 'TotalSteps':
             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
50   1624580081     5/1/2016       36019      28.030001        28.030001
780  8053475328    4/24/2016       22988      17.950001        17.950001
909  8877689391    4/12/2016       23186      20.400000        20.400000
913  8877689391    4/16/2016       29326      25.290001        25.290001
924  8877689391    4/27/2016       23629      20.650000        20.650000
927  8877689391    4/30/2016       27745      26.719999        26.719999

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
50                        0.0               21.92                      4.19
780                       0.0               13.13                      1.55
909                       0.0               12.22                      0.34
913                       0.0               13.24                      1.21
924                       0.0               13.07                      0.44
927                       0.0               21.66                      0.08

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
50                  1.91                     0.02                186
780                 3.26                     0.00                129
909                 7.82                     0.00                 85
913                10.71                     0.00                 94
924                 7.10                     0.00                 93
927                 4.93                     0.00                124

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
50                    63                   171              1020      2690
780                   33                   182              1096      3577
909                    7                   312              1036      3921
913                   29                   429               888      4547
924                    8                   235              1104      3808
927                    4                   223              1089      4398

Outliers in 'Calories':
             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
30   1503960366    5/12/2016           0       0.000000         0.000000
345  3977333714    5/11/2016         746       0.500000         0.500000
572  5577150313    4/17/2016       12231       9.140000         9.140000
585  5577150313    4/30/2016       12363       9.240000         9.240000
586  5577150313     5/1/2016       13368       9.990000         9.990000
606  6117666160    4/21/2016       19542      15.010000        15.010000
653  6290855005    5/10/2016           0       0.000000         0.000000
736  7007744171     5/7/2016           0       0.000000         0.000000
817  8253242879    4/30/2016           0       0.000000         0.000000
879  8583815059    5/12/2016           0       0.000000         0.000000
908  8792009665    5/10/2016           0       0.000000         0.000000
913  8877689391    4/16/2016       29326      25.290001        25.290001

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
30                        0.0                0.00                      0.00
345                       0.0                0.37                      0.00
572                       0.0                5.98                      0.83
585                       0.0                5.83                      0.79
586                       0.0                5.31                      1.44
606                       0.0                0.98                      0.40
653                       0.0                0.00                      0.00
736                       0.0                0.00                      0.00
817                       0.0                0.00                      0.00
879                       0.0                0.00                      0.00
908                       0.0                0.00                      0.00
913                       0.0               13.24                      1.21

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
30                  0.00                      0.0                  0
345                 0.13                      0.0                  4
572                 2.32                      0.0                200
585                 2.61                      0.0                207
586                 3.24                      0.0                194
606                 5.62                      0.0                 11
653                 0.00                      0.0                  0
736                 0.00                      0.0                  0
817                 0.00                      0.0                  0
879                 0.00                      0.0                  0
908                 0.00                      0.0                  0
913                10.71                      0.0                 94

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
30                     0                     0              1440         0
345                    0                     9                13        52
572                   37                   159               525      4552
585                   45                   163               621      4501
586                   72                   178               499      4546
606                   19                   294               579      4900
653                    0                     0              1440         0
736                    0                     0               111       120
817                    0                     0              1440         0
879                    0                     0              1440         0
908                    0                     0                48        57
913                   29                   429               888      4547

Cleaned Data:
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

In [5]:
#--- WRITE YOUR CODE FOR TASK 5 ---
#df = ...

df['ActivityDate'] = pd.to_datetime(df['ActivityDate'], format='%m/%d/%Y')

# Inspect the transformed data
print("Data types after datetime conversion:")
print(df.dtypes)

print("\nFirst few rows after datetime conversion:")
print(df.head())

Data types after datetime conversion:
Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

First few rows after datetime conversion:
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366   2016-04-12       13162           8.50             8.50
1  1503960366   2016-04-13       10735           6.97             6.97
2  1503960366   2016-04-14       10460           6.74             6.74
3  1503960366   2016-04-15        9762           6.28             6.28
4  1503960366   2016-04-16       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

In [6]:
#--- WRITE YOUR CODE FOR TASK 6 ---
#df = ...

# Extract the day of the week from 'ActivityDate'
df['Day'] = df['ActivityDate'].dt.day_name()

# Inspect the data
print("Data with 'Day' column added:")
print(df.head())

Data with 'Day' column added:
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366   2016-04-12       13162           8.50             8.50
1  1503960366   2016-04-13       10735           6.97             6.97
2  1503960366   2016-04-14       10460           6.74             6.74
3  1503960366   2016-04-15        9762           6.28             6.28
4  1503960366   2016-04-16       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories  \
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

         Day
0    Tuesday
1  Wednesday
2   Thursday
3     Friday
4   Saturday

In [7]:
#--- WRITE YOUR CODE FOR TASK 7 ---
#df = ...

# Calculate 'TotalMinutes' by summing up various activity minutes
df['TotalMinutes'] = df['VeryActiveMinutes'] + df['FairlyActiveMinutes'] + df['LightlyActiveMinutes'] + df['SedentaryMinutes']

# Inspect the data
print("Data with 'TotalMinutes' column added:")
print(df.head())

Data with 'TotalMinutes' column added:
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366   2016-04-12       13162           8.50             8.50
1  1503960366   2016-04-13       10735           6.97             6.97
2  1503960366   2016-04-14       10460           6.74             6.74
3  1503960366   2016-04-15        9762           6.28             6.28
4  1503960366   2016-04-16       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories  \
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

         Day  TotalMinutes
0    Tuesday          1094
1  Wednesday          1033
2   Thursday          1440
3     Friday           998
4   Saturday          1040

In [8]:
# df.to_csv('smart_watch_data.csv', index=False)

In [13]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp38-cp38-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp38-cp38-win_amd64.whl (14.4 MB)
   ---------------------------------------- 0.0/14.4 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.4 MB 3.3 MB/s eta 0:00:05
    --------------------------------------- 0.3/14.4 MB 2.8 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/14.4 MB 5.4 MB/s eta 0:00:03
   --- ------------------------------------ 1.4/14.4 MB 7.3 MB/s eta 0:00:02
   ----- ---------------------------------- 2.1/14.4 MB 9.1 MB/s eta 0:00:02
   ------- -------------------------------- 2.6/14.4 MB 10.3 MB/s eta 0:00:02
   --------- ------------------------------ 3.4/14.4 MB 10.8 MB/s eta 0:00:02
   ---------- ----------------------------- 3.7/14.4 MB 10.4 MB/s eta 0:00:02
   ------------ --------------------------- 4.4/14.4 MB 10.0 MB/s eta 0:00:02
   ------------- -------------------------- 4.9/14.4 MB 9.7 MB/s eta 0:00:01
   -------------- ------------------------- 5.2/14.4 MB 9.5 MB/s eta 0:00:01
   --------------- ------------------------ 5.4/14.4 MB 9.6 MB/s eta 0:00:01
   ---------------- ----------------------- 6.0/14.4 MB 9.3 MB/s eta 0:00:01
   ----------------- ---------------------- 6.3/14.4 MB 9.1 MB/s eta 0:00:01
   ------------------ --------------------- 6.5/14.4 MB 8.8 MB/s eta 0:00:01
   ------------------ --------------------- 6.8/14.4 MB 8.7 MB/s eta 0:00:01
   ------------------- -------------------- 7.1/14.4 MB 8.7 MB/s eta 0:00:01
   -------------------- ------------------- 7.3/14.4 MB 8.4 MB/s eta 0:00:01
   --------------------- ------------------ 7.6/14.4 MB 8.2 MB/s eta 0:00:01
   --------------------- ------------------ 7.9/14.4 MB 8.1 MB/s eta 0:00:01
   ---------------------- ----------------- 8.3/14.4 MB 8.1 MB/s eta 0:00:01
   ----------------------- ---------------- 8.5/14.4 MB 8.1 MB/s eta 0:00:01
   ------------------------ --------------- 8.8/14.4 MB 7.9 MB/s eta 0:00:01
   ------------------------- -------------- 9.1/14.4 MB 7.8 MB/s eta 0:00:01
   -------------------------- ------------- 9.4/14.4 MB 7.8 MB/s eta 0:00:01
   -------------------------- ------------- 9.7/14.4 MB 7.8 MB/s eta 0:00:01
   --------------------------- ------------ 10.0/14.4 MB 7.8 MB/s eta 0:00:01
   ---------------------------- ----------- 10.3/14.4 MB 7.8 MB/s eta 0:00:01
   ----------------------------- ---------- 10.5/14.4 MB 8.0 MB/s eta 0:00:01
   ----------------------------- ---------- 10.8/14.4 MB 7.7 MB/s eta 0:00:01
   ------------------------------ --------- 10.9/14.4 MB 7.5 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.4 MB 7.4 MB/s eta 0:00:01
   ------------------------------- -------- 11.3/14.4 MB 7.1 MB/s eta 0:00:01
   -------------------------------- ------- 11.5/14.4 MB 6.9 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.4 MB 6.8 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.4 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.4 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.3/14.4 MB 6.2 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.4 MB 6.1 MB/s eta 0:00:01
   ----------------------------------- ---- 12.6/14.4 MB 6.0 MB/s eta 0:00:01
   ----------------------------------- ---- 12.8/14.4 MB 5.8 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.4 MB 5.8 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.4 MB 5.7 MB/s eta 0:00:01
   ------------------------------------ --- 13.3/14.4 MB 5.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.4 MB 5.5 MB/s eta 0:00:01
   ------------------------------------- -- 13.7/14.4 MB 5.4 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.4 MB 5.4 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.4 MB 5.2 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.4 MB 5.2 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.4 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.4 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.4 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.4 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 14.4/14.4 MB 4.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ensorflow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%sql mysql+pymysql://root:pannu1216@localhost/pranav

# Quantifying Wisdom.
In our quest for enlightenment, this SQL command emerges as the oracle, counting the strands of insights woven into 'smart_watch_data.' It isn't just a numerical tally; it's a symbolic gesture, encapsulating the culmination of our data journey. By quantifying the values, we not only measure the richness of our exploration but also lay the foundation for future inquiries. This count becomes a beacon, guiding seekers to the vast repository of knowledge residing in our smartwatch data, perpetuating the spirit of continuous discovery and understanding.

In [18]:
%%sql
SELECT COUNT(*) FROM smart_watch_data;

 * mysql+pymysql://root:***@localhost/pranav
1 rows affected.

[(216,)]

In [19]:
%%sql
select * from smart_watch_data;

 * mysql+pymysql://root:***@localhost/pranav
216 rows affected.

[(1503960366, '2016-04-12', 13162, 8.5, 8.5, 0.0, 1.87999999523163, 0.550000011920929, 6.05999994277954, 0.0, 25, 13, 328, 728, 1985, 'Tuesday', 1094),
 (1503960366, '2016-04-13', 10735, 6.96999979019165, 6.96999979019165, 0.0, 1.57000005245209, 0.689999997615814, 4.71000003814697, 0.0, 21, 19, 217, 776, 1797, 'Wednesday', 1033),
 (1503960366, '2016-04-14', 10460, 6.73999977111816, 6.73999977111816, 0.0, 2.44000005722046, 0.400000005960464, 3.91000008583069, 0.0, 30, 11, 181, 1218, 1776, 'Thursday', 1440),
 (1503960366, '2016-04-15', 9762, 6.28000020980835, 6.28000020980835, 0.0, 2.14000010490417, 1.25999999046326, 2.82999992370605, 0.0, 29, 34, 209, 726, 1745, 'Friday', 998),
 (1503960366, '2016-04-16', 12669, 8.15999984741211, 8.15999984741211, 0.0, 2.71000003814697, 0.409999996423721, 5.03999996185303, 0.0, 36, 10, 221, 773, 1863, 'Saturday', 1040),
 (1503960366, '2016-04-17', 9705, 6.48000001907349, 6.48000001907349, 0.0, 3.19000005722046, 0.779999971389771, 2.50999999046326, 0.0, 38, 20, 164, 539, 1728, 'Sunday', 761),
 (1503960366, '2016-04-18', 13019, 8.59000015258789, 8.59000015258789, 0.0, 3.25, 0.639999985694885, 4.71000003814697, 0.0, 42, 16, 233, 1149, 1921, 'Monday', 1440),
 (1503960366, '2016-04-19', 15506, 9.88000011444092, 9.88000011444092, 0.0, 3.52999997138977, 1.32000005245209, 5.03000020980835, 0.0, 50, 31, 264, 775, 2035, 'Tuesday', 1120),
 (1503960366, '2016-04-20', 10544, 6.67999982833862, 6.67999982833862, 0.0, 1.96000003814697, 0.479999989271164, 4.23999977111816, 0.0, 28, 12, 205, 818, 1786, 'Wednesday', 1063),
 (1503960366, '2016-04-21', 9819, 6.34000015258789, 6.34000015258789, 0.0, 1.3400000333786, 0.349999994039536, 4.65000009536743, 0.0, 19, 8, 211, 838, 1775, 'Thursday', 1076),
 (1503960366, '2016-04-22', 12764, 8.13000011444092, 8.13000011444092, 0.0, 4.76000022888184, 1.12000000476837, 2.24000000953674, 0.0, 66, 27, 130, 1217, 1827, 'Friday', 1440),
 (1503960366, '2016-04-23', 14371, 9.03999996185303, 9.03999996185303, 0.0, 2.80999994277954, 0.870000004768372, 5.3600001335144, 0.0, 41, 21, 262, 732, 1949, 'Saturday', 1056),
 (1503960366, '2016-04-24', 10039, 6.40999984741211, 6.40999984741211, 0.0, 2.92000007629395, 0.209999993443489, 3.27999997138977, 0.0, 39, 5, 238, 709, 1788, 'Sunday', 991),
 (1503960366, '2016-04-25', 15355, 9.80000019073486, 9.80000019073486, 0.0, 5.28999996185303, 0.569999992847443, 3.94000005722046, 0.0, 73, 14, 216, 814, 2013, 'Monday', 1117),
 (1503960366, '2016-04-26', 13755, 8.78999996185303, 8.78999996185303, 0.0, 2.32999992370605, 0.920000016689301, 5.53999996185303, 0.0, 31, 23, 279, 833, 1970, 'Tuesday', 1166),
 (1503960366, '2016-04-27', 18134, 12.210000038147, 12.210000038147, 0.0, 6.40000009536743, 0.409999996423721, 5.40999984741211, 0.0, 78, 11, 243, 1108, 2159, 'Wednesday', 1440),
 (1503960366, '2016-04-28', 13154, 8.52999973297119, 8.52999973297119, 0.0, 3.53999996185303, 1.1599999666214, 3.78999996185303, 0.0, 48, 28, 189, 782, 1898, 'Thursday', 1047),
 (1503960366, '2016-04-29', 11181, 7.15000009536743, 7.15000009536743, 0.0, 1.05999994277954, 0.5, 5.57999992370605, 0.0, 16, 12, 243, 815, 1837, 'Friday', 1086),
 (1503960366, '2016-04-30', 14673, 9.25, 9.25, 0.0, 3.55999994277954, 1.41999995708466, 4.26999998092651, 0.0, 52, 34, 217, 712, 1947, 'Saturday', 1015),
 (1503960366, '2016-05-01', 10602, 6.80999994277954, 6.80999994277954, 0.0, 2.28999996185303, 1.60000002384186, 2.92000007629395, 0.0, 33, 35, 246, 730, 1820, 'Sunday', 1044),
 (1503960366, '2016-05-02', 14727, 9.71000003814697, 9.71000003814697, 0.0, 3.21000003814697, 0.569999992847443, 5.92000007629395, 0.0, 41, 15, 277, 798, 2004, 'Monday', 1131),
 (1503960366, '2016-05-03', 15103, 9.65999984741211, 9.65999984741211, 0.0, 3.73000001907349, 1.04999995231628, 4.88000011444092, 0.0, 50, 24, 254, 816, 1990, 'Tuesday', 1144),
 (1503960366, '2016-05-04', 11100, 7.15000009536743, 7.15000009536743, 0.0, 2.46000003814697, 0.870000004768372, 3.8199999332428, 0.0, 36, 22, 203, 1179, 1819, 'Wednesday', 1440),
 (1503960366, '2016-05-05', 14070, 8.89999961853027, 8.89999961853027, 0.0, 2.92000007629395, 1.08000004291534, 4.88000011444092, 0.0, 45, 24, 250, 857, 1959, 'Thursday', 1176),
 (1503960366, '2016-05-06', 12159, 8.02999973297119, 8.02999973297119, 0.0, 1.97000002861023, 0.25, 5.80999994277954, 0.0, 24, 6, 289, 754, 1896, 'Friday', 1073),
 (1503960366, '2016-05-07', 11992, 7.71000003814697, 7.71000003814697, 0.0, 2.46000003814697, 2.11999988555908, 3.13000011444092, 0.0, 37, 46, 175, 833, 1821, 'Saturday', 1091),
 (1503960366, '2016-05-08', 10060, 6.57999992370605, 6.57999992370605, 0.0, 3.52999997138977, 0.319999992847443, 2.73000001907349, 0.0, 44, 8, 203, 574, 1740, 'Sunday', 829),
 (1503960366, '2016-05-09', 12022, 7.71999979019165, 7.71999979019165, 0.0, 3.45000004768372, 0.529999971389771, 3.74000000953674, 0.0, 46, 11, 206, 835, 1819, 'Monday', 1098),
 (1503960366, '2016-05-10', 12207, 7.76999998092651, 7.76999998092651, 0.0, 3.34999990463257, 1.1599999666214, 3.25999999046326, 0.0, 46, 31, 214, 746, 1859, 'Tuesday', 1037),
 (1503960366, '2016-05-11', 12770, 8.13000011444092, 8.13000011444092, 0.0, 2.55999994277954, 1.00999999046326, 4.55000019073486, 0.0, 36, 23, 251, 669, 1783, 'Wednesday', 979),
 (1503960366, '2016-05-12', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 0, 'Thursday', 1440),
 (1624580081, '2016-04-12', 8163, 5.30999994277954, 5.30999994277954, 0.0, 0.0, 0.0, 5.30999994277954, 0.0, 0, 0, 146, 1294, 1432, 'Tuesday', 1440),
 (1624580081, '2016-04-13', 7007, 4.55000019073486, 4.55000019073486, 0.0, 0.0, 0.0, 4.55000019073486, 0.0, 0, 0, 148, 1292, 1411, 'Wednesday', 1440),
 (1624580081, '2016-04-14', 9107, 5.92000007629395, 5.92000007629395, 0.0, 0.0, 0.0, 5.90999984741211, 0.0099999997764825, 0, 0, 236, 1204, 1572, 'Thursday', 1440),
 (1624580081, '2016-04-15', 1510, 0.980000019073486, 0.980000019073486, 0.0, 0.0, 0.0, 0.970000028610229, 0.0, 0, 0, 96, 1344, 1344, 'Friday', 1440),
 (1624580081, '2016-04-16', 5370, 3.49000000953674, 3.49000000953674, 0.0, 0.0, 0.0, 3.49000000953674, 0.0, 0, 0, 176, 1264, 1463, 'Saturday', 1440),
 (1624580081, '2016-04-17', 6175, 4.05999994277954, 4.05999994277954, 0.0, 1.02999997138977, 1.51999998092651, 1.49000000953674, 0.0099999997764825, 15, 22, 127, 1276, 1554, 'Sunday', 1440),
 (1624580081, '2016-04-18', 10536, 7.40999984741211, 7.40999984741211, 0.0, 2.15000009536743, 0.620000004768372, 4.61999988555908, 0.0099999997764825, 17, 7, 202, 1214, 1604, 'Monday', 1440),
 (1624580081, '2016-04-19', 2916, 1.89999997615814, 1.89999997615814, 0.0, 0.0, 0.0, 1.89999997615814, 0.0, 0, 0, 141, 1299, 1435, 'Tuesday', 1440),
 (1624580081, '2016-04-20', 4974, 3.23000001907349, 3.23000001907349, 0.0, 0.0, 0.0, 3.23000001907349, 0.0, 0, 0, 151, 1289, 1446, 'Wednesday', 1440),
 (1624580081, '2016-04-21', 6349, 4.13000011444092, 4.13000011444092, 0.0, 0.0, 0.0, 4.1100001335144, 0.0199999995529652, 0, 0, 186, 1254, 1467, 'Thursday', 1440),
 (1624580081, '2016-04-22', 4026, 2.61999988555908, 2.61999988555908, 0.0, 0.0, 0.0, 2.59999990463257, 0.0, 0, 0, 199, 1241, 1470, 'Friday', 1440),
 (1624580081, '2016-04-23', 8538, 5.55000019073486, 5.55000019073486, 0.0, 0.0, 0.0, 5.53999996185303, 0.0099999997764825, 0, 0, 227, 1213, 1562, 'Saturday', 1440),
 (1624580081, '2016-04-24', 6076, 3.95000004768372, 3.95000004768372, 0.0, 1.14999997615814, 0.910000026226044, 1.88999998569489, 0.0, 16, 18, 185, 1221, 1617, 'Sunday', 1440),
 (1624580081, '2016-04-25', 6497, 4.21999979019165, 4.21999979019165, 0.0, 0.0, 0.0, 4.19999980926514, 0.0199999995529652, 0, 0, 202, 1238, 1492, 'Monday', 1440),
 (1624580081, '2016-04-26', 2826, 1.8400000333786, 1.8400000333786, 0.0, 0.0, 0.0, 1.83000004291534, 0.0099999997764825, 0, 0, 140, 1300, 1402, 'Tuesday', 1440),
 (1624580081, '2016-04-27', 8367, 5.44000005722046, 5.44000005722046, 0.0, 1.11000001430511, 1.87000000476837, 2.46000003814697, 0.0, 17, 36, 154, 1233, 1670, 'Wednesday', 1440),
 (1624580081, '2016-04-28', 2759, 1.78999996185303, 1.78999996185303, 0.0, 0.0, 0.200000002980232, 1.60000002384186, 0.0, 0, 5, 115, 1320, 1401, 'Thursday', 1440),
 (1624580081, '2016-04-29', 2390, 1.54999995231628, 1.54999995231628, 0.0, 0.0, 0.0, 1.54999995231628, 0.0, 0, 0, 150, 1290, 1404, 'Friday', 1440),
 (1624580081, '2016-04-30', 6474, 4.30000019073486, 4.30000019073486, 0.0, 0.899999976158142, 1.27999997138977, 2.11999988555908, 0.0099999997764825, 11, 23, 224, 1182, 1655, 'Saturday', 1440),
 (1624580081, '2016-05-01', 36019, 28.0300006866455, 28.0300006866455, 0.0, 21.9200000762939, 4.19000005722046, 1.9099999666214, 0.0199999995529652, 186, 63, 171, 1020, 2690, 'Sunday', 1440),
 (1624580081, '2016-05-02', 7155, 4.92999982833862, 4.92999982833862, 0.0, 0.860000014305115, 0.589999973773956, 3.47000002861023, 0.0, 7, 6, 166, 1261, 1497, 'Monday', 1440),
 (1624580081, '2016-05-03', 2100, 1.37000000476837, 1.37000000476837, 0.0, 0.0, 0.0, 1.3400000333786, 0.0199999995529652, 0, 0, 96, 1344, 1334, 'Tuesday', 1440),
 (1624580081, '2016-05-04', 2193, 1.42999994754791, 1.42999994754791, 0.0, 0.0, 0.0, 1.41999995708466, 0.0, 0, 0, 118, 1322, 1368, 'Wednesday', 1440),
 (1624580081, '2016-05-05', 2470, 1.61000001430511, 1.61000001430511, 0.0, 0.0, 0.0, 1.58000004291534, 0.0199999995529652, 0, 0, 117, 1323, 1370, 'Thursday', 1440),
 (1624580081, '2016-05-06', 1727, 1.12000000476837, 1.12000000476837, 0.0, 0.0, 0.0, 1.12000000476837, 0.0099999997764825, 0, 0, 102, 1338, 1341, 'Friday', 1440),
 (1624580081, '2016-05-07', 2104, 1.37000000476837, 1.37000000476837, 0.0, 0.0, 0.0, 1.37000000476837, 0.0, 0, 0, 182, 1258, 1474, 'Saturday', 1440),
 (1624580081, '2016-05-08', 3427, 2.23000001907349, 2.23000001907349, 0.0, 0.0, 0.0, 2.22000002861023, 0.0, 0, 0, 152, 1288, 1427, 'Sunday', 1440),
 (1624580081, '2016-05-09', 1732, 1.12999999523163, 1.12999999523163, 0.0, 0.0, 0.0, 1.12999999523163, 0.0, 0, 0, 91, 1349, 1328, 'Monday', 1440),
 (1624580081, '2016-05-10', 2969, 1.92999994754791, 1.92999994754791, 0.0, 0.0, 0.0, 1.91999995708466, 0.0099999997764825, 0, 0, 139, 1301, 1393, 'Tuesday', 1440),
 (1624580081, '2016-05-11', 3134, 2.03999996185303, 2.03999996185303, 0.0, 0.0, 0.0, 2.03999996185303, 0.0, 0, 0, 112, 1328, 1359, 'Wednesday', 1440),
 (1624580081, '2016-05-12', 2971, 1.92999994754791, 1.92999994754791, 0.0, 0.0, 0.0, 1.91999995708466, 0.0099999997764825, 0, 0, 107, 890, 1002, 'Thursday', 997),
 (1644430081, '2016-04-12', 10694, 7.76999998092651, 7.76999998092651, 0.0, 0.140000000596046, 2.29999995231628, 5.32999992370605, 0.0, 2, 51, 256, 1131, 3199, 'Tuesday', 1440),
 (1644430081, '2016-04-13', 8001, 5.82000017166138, 5.82000017166138, 0.0, 2.27999997138977, 0.899999976158142, 2.64000010490417, 0.0, 30, 16, 135, 1259, 2902, 'Wednesday', 1440),
 (1644430081, '2016-04-14', 11037, 8.02000045776367, 8.02000045776367, 0.0, 0.360000014305115, 2.55999994277954, 5.09999990463257, 0.0, 5, 58, 252, 1125, 3226, 'Thursday', 1440),
 (1644430081, '2016-04-15', 5263, 3.82999992370605, 3.82999992370605, 0.0, 0.219999998807907, 0.150000005960464, 3.45000004768372, 0.0, 3, 4, 170, 1263, 2750, 'Friday', 1440),
 (1644430081, '2016-04-16', 15300, 11.1199998855591, 11.1199998855591, 0.0, 4.09999990463257, 1.87999999523163, 5.09000015258789, 0.0, 51, 42, 212, 1135, 3493, 'Saturday', 1440),
 (1644430081, '2016-04-17', 8757, 6.36999988555908, 6.36999988555908, 0.0, 2.25, 0.569999992847443, 3.54999995231628, 0.0, 29, 13, 186, 1212, 3011, 'Sunday', 1440),
 (1644430081, '2016-04-18', 7132, 5.19000005722046, 5.19000005722046, 0.0, 1.07000005245209, 1.66999995708466, 2.45000004768372, 0.0, 15, 33, 121, 1271, 2806, 'Monday', 1440),
 (1644430081, '2016-04-19', 11256, 8.18000030517578, 8.18000030517578, 0.0, 0.360000014305115, 2.52999997138977, 5.30000019073486, 0.0, 5, 58, 278, 1099, 3300, 'Tuesday', 1440),
 (1644430081, '2016-04-20', 2436, 1.76999998092651, 1.76999998092651, 0.0, 0.0, 0.0, 1.75999999046326, 0.0099999997764825, 0, 0, 125, 1315, 2430, 'Wednesday', 1440),
 (1644430081, '2016-04-21', 1223, 0.889999985694885, 0.889999985694885, 0.0, 0.0, 0.0, 0.879999995231628, 0.0099999997764825, 0, 0, 38, 1402, 2140, 'Thursday', 1440),
 (1644430081, '2016-04-22', 3673, 2.67000007629395, 2.67000007629395, 0.0, 0.0, 0.0, 2.66000008583069, 0.0099999997764825, 0, 0, 86, 1354, 2344, 'Friday', 1440),
 (1644430081, '2016-04-23', 6637, 4.82999992370605, 4.82999992370605, 0.0, 0.0, 0.579999983310699, 4.25, 0.0, 0, 15, 160, 1265, 2677, 'Saturday', 1440),
 (1644430081, '2016-04-24', 3321, 2.41000008583069, 2.41000008583069, 0.0, 0.0, 0.0, 2.41000008583069, 0.0, 0, 0, 89, 1351, 2413, 'Sunday', 1440),
 (1644430081, '2016-04-25', 3580, 2.59999990463257, 2.59999990463257, 0.0, 0.589999973773956, 0.0599999986588955, 1.95000004768372, 0.0, 8, 1, 94, 1337, 2497, 'Monday', 1440),
 (1644430081, '2016-04-26', 9919, 7.21000003814697, 7.21000003814697, 0.0, 0.800000011920929, 1.72000002861023, 4.69000005722046, 0.0, 11, 41, 223, 1165, 3123, 'Tuesday', 1440),
 (1644430081, '2016-04-27', 3032, 2.20000004768372, 2.20000004768372, 0.0, 0.0, 0.0, 2.20000004768372, 0.0, 0, 0, 118, 1322, 2489, 'Wednesday', 1440),
 (1644430081, '2016-04-28', 9405, 6.84000015258789, 6.84000015258789, 0.0, 0.200000002980232, 2.3199999332428, 4.30999994277954, 0.0, 3, 53, 227, 1157, 3108, 'Thursday', 1440),
 (1644430081, '2016-04-29', 3176, 2.30999994277954, 2.30999994277954, 0.0, 0.0, 0.0, 2.30999994277954, 0.0, 0, 0, 120, 1193, 2498, 'Friday', 1313),
 (1644430081, '2016-04-30', 18213, 13.2399997711182, 13.2399997711182, 0.0, 0.629999995231628, 3.14000010490417, 9.46000003814697, 0.0, 9, 71, 402, 816, 3846, 'Saturday', 1298),
 (1644430081, '2016-05-01', 6132, 4.46000003814697, 4.46000003814697, 0.0, 0.239999994635582, 0.990000009536743, 3.23000001907349, 0.0, 3, 24, 146, 908, 2696, 'Sunday', 1081),
 (1644430081, '2016-05-02', 3758, 2.73000001907349, 2.73000001907349, 0.0, 0.0700000002980232, 0.310000002384186, 2.34999990463257, 0.0, 1, 7, 148, 682, 2580, 'Monday', 838),
 (1644430081, '2016-05-03', 12850, 9.34000015258789, 9.34000015258789, 0.0, 0.720000028610229, 4.09000015258789, 4.53999996185303, 0.0, 10, 94, 221, 1115, 3324, 'Tuesday', 1440),
 (1644430081, '2016-05-04', 2309, 1.67999994754791, 1.67999994754791, 0.0, 0.0, 0.0, 1.6599999666214, 0.0199999995529652, 0, 0, 52, 1388, 2222, 'Wednesday', 1440),
 (1644430081, '2016-05-05', 4363, 3.19000005722046, 3.19000005722046, 0.0, 0.519999980926514, 0.540000021457672, 2.13000011444092, 0.0099999997764825, 6, 12, 81, 1341, 2463, 'Thursday', 1440),
 (1644430081, '2016-05-06', 9787, 7.11999988555908, 7.11999988555908, 0.0, 0.819999992847443, 0.270000010728836, 6.01000022888184, 0.0199999995529652, 11, 6, 369, 1054, 3328, 'Friday', 1440),
 (1644430081, '2016-05-07', 13372, 9.72000026702881, 9.72000026702881, 0.0, 3.25999999046326, 0.790000021457672, 5.67000007629395, 0.0099999997764825, 41, 17, 243, 1139, 3404, 'Saturday', 1440),
 (1644430081, '2016-05-08', 6724, 4.8899998664856, 4.8899998664856, 0.0, 0.0, 0.0, 4.88000011444092, 0.0, 0, 0, 295, 991, 2987, 'Sunday', 1286),
 (1644430081, '2016-05-09', 6643, 4.82999992370605, 4.82999992370605, 0.0, 2.39000010490417, 0.349999994039536, 2.08999991416931, 0.0099999997764825, 32, 6, 303, 1099, 3008, 'Monday', 1440),
 (1644430081, '2016-05-10', 9167, 6.65999984741211, 6.65999984741211, 0.0, 0.879999995231628, 0.810000002384186, 4.96999979019165, 0.0099999997764825, 12, 19, 155, 1254, 2799, 'Tuesday', 1440),
 (1644430081, '2016-05-11', 1329, 0.970000028610229, 0.970000028610229, 0.0, 0.0, 0.0, 0.949999988079071, 0.0099999997764825, 0, 0, 49, 713, 1276, 'Wednesday', 762),
 (1844505072, '2016-04-12', 6697, 4.42999982833862, 4.42999982833862, 0.0, 0.0, 0.0, 4.42999982833862, 0.0, 0, 0, 339, 1101, 2030, 'Tuesday', 1440),
 (1844505072, '2016-04-13', 4929, 3.25999999046326, 3.25999999046326, 0.0, 0.0, 0.0, 3.25999999046326, 0.0, 0, 0, 248, 1192, 1860, 'Wednesday', 1440),
 (1844505072, '2016-04-14', 7937, 5.25, 5.25, 0.0, 0.0, 0.0, 5.23000001907349, 0.0, 0, 0, 373, 843, 2130, 'Thursday', 1216),
 (1844505072, '2016-04-15', 3844, 2.53999996185303, 2.53999996185303, 0.0, 0.0, 0.0, 2.53999996185303, 0.0, 0, 0, 176, 527, 1725, 'Friday', 703),
 (1844505072, '2016-04-16', 3414, 2.25999999046326, 2.25999999046326, 0.0, 0.0, 0.0, 2.25999999046326, 0.0, 0, 0, 147, 1293, 1657, 'Saturday', 1440),
 (1844505072, '2016-04-17', 4525, 2.99000000953674, 2.99000000953674, 0.0, 0.140000000596046, 0.259999990463257, 2.58999991416931, 0.0, 2, 8, 199, 1231, 1793, 'Sunday', 1440),
 (1844505072, '2016-04-18', 4597, 3.03999996185303, 3.03999996185303, 0.0, 0.0, 0.479999989271164, 2.55999994277954, 0.0, 0, 12, 217, 1211, 1814, 'Monday', 1440),
 (1844505072, '2016-04-19', 197, 0.129999995231628, 0.129999995231628, 0.0, 0.0, 0.0, 0.129999995231628, 0.0, 0, 0, 10, 1430, 1366, 'Tuesday', 1440),
 (1844505072, '2016-04-20', 8, 0.0099999997764825, 0.0099999997764825, 0.0, 0.0, 0.0, 0.0099999997764825, 0.0, 0, 0, 1, 1439, 1349, 'Wednesday', 1440),
 (1844505072, '2016-04-21', 8054, 5.32000017166138, 5.32000017166138, 0.0, 0.119999997317791, 0.519999980926514, 4.67999982833862, 0.0, 2, 13, 308, 1117, 2062, 'Thursday', 1440),
 (1844505072, '2016-04-22', 5372, 3.54999995231628, 3.54999995231628, 0.0, 0.0, 0.0, 3.54999995231628, 0.0, 0, 0, 220, 1220, 1827, 'Friday', 1440),
 (1844505072, '2016-04-23', 3570, 2.35999989509583, 2.35999989509583, 0.0, 0.0, 0.0, 2.35999989509583, 0.0, 0, 0, 139, 1301, 1645, 'Saturday', 1440),
 (1844505072, '2016-04-24', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Sunday', 1440),
 (1844505072, '2016-04-25', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Monday', 1440),
 (1844505072, '2016-04-26', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Tuesday', 1440),
 (1844505072, '2016-04-27', 4, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 1, 1439, 1348, 'Wednesday', 1440),
 (1844505072, '2016-04-28', 6907, 4.57000017166138, 4.57000017166138, 0.0, 0.0, 0.0, 4.55999994277954, 0.0, 0, 0, 302, 1138, 1992, 'Thursday', 1440),
 (1844505072, '2016-04-29', 4920, 3.25, 3.25, 0.0, 0.0, 0.0, 3.25, 0.0, 0, 0, 247, 1082, 1856, 'Friday', 1329),
 (1844505072, '2016-04-30', 4014, 2.67000007629395, 2.67000007629395, 0.0, 0.0, 0.0, 2.65000009536743, 0.0, 0, 0, 184, 218, 1763, 'Saturday', 402),
 (1844505072, '2016-05-01', 2573, 1.70000004768372, 1.70000004768372, 0.0, 0.0, 0.259999990463257, 1.45000004768372, 0.0, 0, 7, 75, 585, 1541, 'Sunday', 667),
 (1844505072, '2016-05-02', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1348, 'Monday', 1440),
 (1844505072, '2016-05-03', 4059, 2.6800000667572, 2.6800000667572, 0.0, 0.0, 0.0, 2.6800000667572, 0.0, 0, 0, 184, 1256, 1742, 'Tuesday', 1440),
 (1844505072, '2016-05-04', 2080, 1.37000000476837, 1.37000000476837, 0.0, 0.0, 0.0, 1.37000000476837, 0.0, 0, 0, 87, 1353, 1549, 'Wednesday', 1440),
 (1844505072, '2016-05-05', 2237, 1.48000001907349, 1.48000001907349, 0.0, 0.0, 0.0, 1.48000001907349, 0.0, 0, 0, 120, 1320, 1589, 'Thursday', 1440),
 (1844505072, '2016-05-06', 44, 0.0299999993294477, 0.0299999993294477, 0.0, 0.0, 0.0, 0.0299999993294477, 0.0, 0, 0, 2, 1438, 1351, 'Friday', 1440),
 (1844505072, '2016-05-07', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Saturday', 1440),
 (1844505072, '2016-05-08', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Sunday', 1440),
 (1844505072, '2016-05-09', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Monday', 1440),
 (1844505072, '2016-05-10', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Tuesday', 1440),
 (1844505072, '2016-05-11', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 1440, 1347, 'Wednesday', 1440),
 (1844505072, '2016-05-12', 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 711, 665, 'Thursday', 711),
 (1927972279, '2016-04-12', 678, 0.469999998807907, 0.469999998807907, 0.0, 0.0, 0.0, 0.469999998807907, 0.0, 0, 0, 55, 734, 2220, 'Tuesday', 789),
 (1927972279, '2016-04-13', 356, 0.25, 0.25, 0.0, 0.0, 0.0, 0.25, 0.0, 0, 0, 32, 986, 2151, 'Wednesday', 1018),

# Identities Unveiled.
In our data opera, this SQL duet surfaces as a conductor, orchestrating a harmonious ensemble of 'Id'entities and their average daily steps. The 'smart_watch_data' becomes a stage where individual journeys are spotlighted. It's more than just an aggregation; it's a narrative of diverse rhythms, each 'Id' revealing a unique cadence of steps. By unveiling the average steps per day, this code crafts a melodic insight into the nuances of personal activity, contributing to a collective understanding of the varied paces that shape our wellness tapestry.

In [24]:
%%sql
SELECT Id, AVG(TotalSteps) AS average_daily_steps
FROM smart_watch_data
GROUP BY Id;

 * mysql+pymysql://root:***@localhost/pranav
7 rows affected.

[(1503960366, Decimal('12116.7419')),
 (1624580081, Decimal('5743.9032')),
 (1644430081, Decimal('7282.9667')),
 (1844505072, Decimal('2580.0645')),
 (1927972279, Decimal('916.1290')),
 (2022484408, Decimal('11370.6452')),
 (2026352035, Decimal('5566.8710'))]

# Crowning the Caloric Summit.
In the realm of data ascension, this SQL quest emerges as a summit seeker, scaling the peaks of 'smart_watch_data' to anoint the torchbearer of caloric achievement. By grouping 'Id'entities and extracting the maximum calories burned, the code unveils a singular champion. It's not just a query; it's an anointment of the ultimate calorie conqueror, offering a glimpse into the zenith of individual feats. This code is a beacon of inspiration, spotlighting the epitome of wellness within our diverse community, a testament to the extraordinary heights reached in the pursuit of health.

In [25]:
%%sql
SELECT Id, MAX(calories) AS max_calories_burned
FROM smart_watch_data
GROUP BY Id
ORDER BY max_calories_burned DESC
LIMIT 1;

 * mysql+pymysql://root:***@localhost/pranav
1 rows affected.

[(1644430081, 3846)]

# Exploring the Abyss of Inactivity.
In our analytical saga, this SQL odyssey embarks on a voyage to understand the depths of sedentary habits within 'smart_watch_data.' By grouping 'Id'entities and calculating the average sedentary minutes, the code unveils a ranking of those dwelling in prolonged inactivity. It's more than a statistical query; it's a narrative of lifestyles shaped by moments of stillness. This exploration serves as a call to action, urging a collective awakening towards healthier habits. By spotlighting the top 5 in sedentary minutes, this code becomes a catalyst for change, steering the wellness narrative towards a more active and vibrant future.

In [31]:
%%sql
SELECT Id, AVG(SedentaryMinutes) AS average_sedentary_minutes
FROM smart_watch_data
GROUP BY Id
ORDER BY average_sedentary_minutes DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost/pranav
5 rows affected.

[(1927972279, Decimal('1317.4194')),
 (1624580081, Decimal('1257.7419')),
 (1844505072, Decimal('1206.6129')),
 (1644430081, Decimal('1161.8667')),
 (2022484408, Decimal('1112.5806'))]

#  Daylight Achievements.
In our data chronicle, this SQL saga unfolds as a navigator through the days, pinpointing the zenith of Very Active achievements in 'smart_watch_data.' By grouping 'Id'entities and 'Days,' the code unearths the champion who conquers distance with each stride. This isn't just a query; it's a testament to the daily feats of the most active individuals. By spotlighting the highest Very Active Distance each day, the code becomes a beacon, guiding us towards understanding the rhythm of peak physical performance, weaving a narrative of determination and endurance across the days of our data tapestry.

In [32]:
%%sql
SELECT Day, Id, MAX(VeryActiveDistance) AS max_very_active_distance
FROM smart_watch_data
GROUP BY Day, Id
ORDER BY Day, max_very_active_distance DESC;

 * mysql+pymysql://root:***@localhost/pranav
49 rows affected.

[('Friday', 1503960366, 4.76000022888184),
 ('Friday', 2022484408, 4.42999982833862),
 ('Friday', 1644430081, 0.819999992847443),
 ('Friday', 1927972279, 0.0),
 ('Friday', 2026352035, 0.0),
 ('Friday', 1624580081, 0.0),
 ('Friday', 1844505072, 0.0),
 ('Monday', 1503960366, 5.28999996185303),
 ('Monday', 2022484408, 3.64000010490417),
 ('Monday', 1644430081, 2.39000010490417),
 ('Monday', 1624580081, 2.15000009536743),
 ('Monday', 1927972279, 1.1599999666214),
 ('Monday', 1844505072, 0.0),
 ('Monday', 2026352035, 0.0),
 ('Saturday', 1644430081, 4.09999990463257),
 ('Saturday', 1503960366, 3.55999994277954),
 ('Saturday', 2022484408, 3.15000009536743),
 ('Saturday', 1624580081, 0.899999976158142),
 ('Saturday', 1844505072, 0.0),
 ('Saturday', 2026352035, 0.0),
 ('Saturday', 1927972279, 0.0),
 ('Sunday', 1624580081, 21.9200000762939),
 ('Sunday', 2022484408, 4.55000019073486),
 ('Sunday', 1503960366, 3.52999997138977),
 ('Sunday', 1644430081, 2.25),
 ('Sunday', 1927972279, 1.00999999046326),
 ('Sunday', 1844505072, 0.140000000596046),
 ('Sunday', 2026352035, 0.0),
 ('Thursday', 1503960366, 3.53999996185303),
 ('Thursday', 2022484408, 3.32999992370605),
 ('Thursday', 1644430081, 0.519999980926514),
 ('Thursday', 1844505072, 0.119999997317791),
 ('Thursday', 1927972279, 0.0),
 ('Thursday', 1624580081, 0.0),
 ('Thursday', 2026352035, 0.0),
 ('Tuesday', 2022484408, 3.99000000953674),
 ('Tuesday', 1503960366, 3.73000001907349),
 ('Tuesday', 1644430081, 0.879999995231628),
 ('Tuesday', 1927972279, 0.730000019073486),
 ('Tuesday', 2026352035, 0.189999997615814),
 ('Tuesday', 1844505072, 0.0),
 ('Tuesday', 1624580081, 0.0),
 ('Wednesday', 1503960366, 6.40000009536743),
 ('Wednesday', 2022484408, 4.17999982833862),
 ('Wednesday', 1644430081, 2.27999997138977),
 ('Wednesday', 1624580081, 1.11000001430511),
 ('Wednesday', 1844505072, 0.0),
 ('Wednesday', 1927972279, 0.0),
 ('Wednesday', 2026352035, 0.0)]

#  A Symphony of Stepped Rhythms.
In our data symphony, this SQL score resonates as a conductor, orchestrating a harmonious exploration into the variability of daily steps in 'smart_watch_data.' By calculating the standard deviation of 'TotalSteps' for each 'Id,' the code identifies the virtuoso of consistency. It's not just a statistical query; it's an ode to the one who maintains a steady cadence in their daily journey. By spotlighting the lowest step standard deviation, this code becomes a compass, guiding us towards the pursuit of balanced and sustainable activity patterns, weaving a narrative of rhythmic wellness within our diverse community.

In [33]:
%%sql
SELECT Id, STDDEV(TotalSteps) AS stddev_total_steps
FROM smart_watch_data
GROUP BY Id
ORDER BY stddev_total_steps ASC
LIMIT 1;

 * mysql+pymysql://root:***@localhost/pranav
1 rows affected.

[(1927972279, 1185.6698866568508)]

# A Covenant with 10,000 Strides.
In our data covenant, this SQL scripture unveils as a sentinel, identifying the stalwarts committed to a daily pilgrimage of 10,000 steps within 'smart_watch_data.' By grouping 'Id'entities and comparing the count of distinct 'Days' to the days surpassing the 10,000-step threshold, the code illuminates those who consistently meet this wellness milestone. It's not just a query; it's a proclamation of dedication to an active lifestyle. This code becomes a herald, singling out the individuals whose footsteps echo the rhythm of sustained commitment, painting a portrait of steadfast wellness within our diverse community.

In [34]:
%%sql
SELECT Id,
       COUNT(DISTINCT CASE WHEN TotalSteps >= 10000 THEN Day ELSE NULL END) AS days_over_10000_steps,
       COUNT(DISTINCT Day) AS total_active_days,
       ROUND((COUNT(DISTINCT CASE WHEN TotalSteps >= 10000 THEN Day ELSE NULL END) / COUNT(DISTINCT Day) * 100), 2) AS percentage_over_10000
FROM smart_watch_data
GROUP BY Id
HAVING total_active_days > 0
ORDER BY percentage_over_10000 DESC;

 * mysql+pymysql://root:***@localhost/pranav
7 rows affected.

[(1503960366, 7, 7, Decimal('100.00')),
 (2022484408, 7, 7, Decimal('100.00')),
 (1644430081, 3, 7, Decimal('42.86')),
 (2026352035, 3, 7, Decimal('42.86')),
 (1624580081, 2, 7, Decimal('28.57')),
 (1844505072, 0, 7, Decimal('0.00')),
 (1927972279, 0, 7, Decimal('0.00'))]

#  Averaging Life's Active Minutes.
In our temporal expedition, this SQL script emerges as a timekeeper, computing the average daily minutes spent in various activity levels within 'smart_watch_data.' By grouping 'Id'entities, the code creates a symphony of average minutes, portraying the nuanced cadence of each individual's daily routine. It's not merely a calculation; it's a narrative of how minutes unfold into a mosaic of activity. This code becomes a storyteller, weaving a tale of diverse lifestyles and the shared heartbeat of active minutes, fostering a deeper understanding of the collective rhythms that shape our wellness narrative.

In [35]:
%%sql
SELECT Id,
       AVG(VeryActiveMinutes) AS avg_very_active_minutes,
       AVG(FairlyActiveMinutes) AS avg_fairly_active_minutes,
       AVG(LightlyActiveMinutes) AS avg_lightly_active_minutes,
       AVG(SedentaryMinutes) AS avg_sedentary_minutes
FROM smart_watch_data
GROUP BY Id
ORDER BY Id;

 * mysql+pymysql://root:***@localhost/pranav
7 rows affected.

[(1503960366, Decimal('38.7097'), Decimal('19.1613'), Decimal('219.9355'), Decimal('848.1613')),
 (1624580081, Decimal('8.6774'), Decimal('5.8065'), Decimal('153.4839'), Decimal('1257.7419')),
 (1644430081, Decimal('9.5667'), Decimal('21.3667'), Decimal('178.4667'), Decimal('1161.8667')),
 (1844505072, Decimal('0.1290'), Decimal('1.2903'), Decimal('115.4516'), Decimal('1206.6129')),
 (1927972279, Decimal('1.3226'), Decimal('0.7742'), Decimal('38.5806'), Decimal('1317.4194')),
 (2022484408, Decimal('36.2903'), Decimal('19.3548'), Decimal('257.4516'), Decimal('1112.5806')),
 (2026352035, Decimal('0.0968'), Decimal('0.2581'), Decimal('256.6452'), Decimal('689.4194'))]

# Crafting Steps into Minutes.
In our data chronicle, this SQL script unfolds as an alchemist, transmuting steps into a temporal currency within 'smart_watch_data.' By grouping 'Id'entities and 'Days,' the code unveils the day-by-day maestros who maximize their step-to-minute efficiency. It's more than just a ratio; it's a story of how individuals orchestrate their movements with precision. This code becomes a storyteller, narrating the tales of those who tread the path of efficiency, painting a canvas of wellness where steps and minutes harmonize to create a symphony of purposeful activity in the diverse tapestry of our daily lives.

In [37]:
%%sql
SELECT Id, Day,
       SUM(TotalSteps) AS TotalSteps,  -- Sum of steps for the day per ID
       SUM(VeryActiveMinutes + FairlyActiveMinutes + LightlyActiveMinutes) AS TotalActiveMinutes,
       CASE WHEN SUM(VeryActiveMinutes + FairlyActiveMinutes + LightlyActiveMinutes) > 0 
            THEN ROUND(SUM(TotalSteps) / SUM(VeryActiveMinutes + FairlyActiveMinutes + LightlyActiveMinutes), 2) 
            ELSE 0 
       END AS StepsPerMinuteEfficiency
FROM smart_watch_data
GROUP BY Id, Day
ORDER BY Day, StepsPerMinuteEfficiency DESC;

 * mysql+pymysql://root:***@localhost/pranav
49 rows affected.

[(1503960366, 'Friday', Decimal('45866'), Decimal('1085'), Decimal('42.27')),
 (2022484408, 'Friday', Decimal('44460'), Decimal('1331'), Decimal('33.40')),
 (1644430081, 'Friday', Decimal('21899'), Decimal('769'), Decimal('28.48')),
 (1844505072, 'Friday', Decimal('14180'), Decimal('645'), Decimal('21.98')),
 (2026352035, 'Friday', Decimal('22538'), Decimal('1085'), Decimal('20.77')),
 (1927972279, 'Friday', Decimal('3220'), Decimal('169'), Decimal('19.05')),
 (1624580081, 'Friday', Decimal('9653'), Decimal('547'), Decimal('17.65')),
 (1503960366, 'Monday', Decimal('55123'), Decimal('1190'), Decimal('46.32')),
 (1624580081, 'Monday', Decimal('25920'), Decimal('698'), Decimal('37.13')),
 (2022484408, 'Monday', Decimal('49258'), Decimal('1331'), Decimal('37.01')),
 (1927972279, 'Monday', Decimal('4186'), Decimal('147'), Decimal('28.48')),
 (1644430081, 'Monday', Decimal('21113'), Decimal('769'), Decimal('27.46')),
 (2026352035, 'Monday', Decimal('27045'), Decimal('1198'), Decimal('22.58')),
 (1844505072, 'Monday', Decimal('4597'), Decimal('229'), Decimal('20.07')),
 (1503960366, 'Saturday', Decimal('53705'), Decimal('1152'), Decimal('46.62')),
 (1644430081, 'Saturday', Decimal('53522'), Decimal('1263'), Decimal('42.38')),
 (2022484408, 'Saturday', Decimal('41196'), Decimal('1020'), Decimal('40.39')),
 (1624580081, 'Saturday', Decimal('22486'), Decimal('843'), Decimal('26.67')),
 (1844505072, 'Saturday', Decimal('10998'), Decimal('470'), Decimal('23.40')),
 (1927972279, 'Saturday', Decimal('4455'), Decimal('193'), Decimal('23.08')),
 (2026352035, 'Saturday', Decimal('23826'), Decimal('1044'), Decimal('22.82')),
 (1624580081, 'Sunday', Decimal('51697'), Decimal('955'), Decimal('54.13')),
 (2022484408, 'Sunday', Decimal('42423'), Decimal('1100'), Decimal('38.57')),
 (1503960366, 'Sunday', Decimal('40406'), Decimal('1073'), Decimal('37.66')),
 (1644430081, 'Sunday', Decimal('24934'), Decimal('785'), Decimal('31.76')),
 (1927972279, 'Sunday', Decimal('4794'), Decimal('167'), Decimal('28.71')),
 (1844505072, 'Sunday', Decimal('7098'), Decimal('291'), Decimal('24.39')),
 (2026352035, 'Sunday', Decimal('13465'), Decimal('673'), Decimal('20.01')),
 (1503960366, 'Thursday', Decimal('47503'), Decimal('1044'), Decimal('45.50')),
 (1644430081, 'Thursday', Decimal('26028'), Decimal('735'), Decimal('35.41')),
 (2022484408, 'Thursday', Decimal('54295'), Decimal('1617'), Decimal('33.58')),
 (1624580081, 'Thursday', Decimal('23656'), Decimal('766'), Decimal('30.88')),
 (1844505072, 'Thursday', Decimal('25135'), Decimal('1118'), Decimal('22.48')),
 (2026352035, 'Thursday', Decimal('33235'), Decimal('1499'), Decimal('22.17')),
 (1927972279, 'Thursday', Decimal('3838'), Decimal('192'), Decimal('19.99')),
 (1503960366, 'Tuesday', Decimal('69733'), Decimal('1663'), Decimal('41.93')),
 (1644430081, 'Tuesday', Decimal('53886'), Decimal('1436'), Decimal('37.53')),
 (2022484408, 'Tuesday', Decimal('58523'), Decimal('1617'), Decimal('36.19')),
 (1624580081, 'Tuesday', Decimal('18974'), Decimal('662'), Decimal('28.66')),
 (1927972279, 'Tuesday', Decimal('5765'), Decimal('274'), Decimal('21.04')),
 (1844505072, 'Tuesday', Decimal('10953'), Decimal('533'), Decimal('20.55')),
 (2026352035, 'Tuesday', Decimal('19017'), Decimal('942'), Decimal('20.19')),
 (1503960366, 'Wednesday', Decimal('63283'), Decimal('1405'), Decimal('45.04')),
 (2022484408, 'Wednesday', Decimal('62335'), Decimal('1690'), Decimal('36.88')),
 (1624580081, 'Wednesday', Decimal('25675'), Decimal('736'), Decimal('34.88')),
 (1644430081, 'Wednesday', Decimal('17107'), Decimal('525'), Decimal('32.58')),
 (2026352035, 'Wednesday', Decimal('33447'), Decimal('1526'), Decimal('21.92')),
 (1844505072, 'Wednesday', Decimal('7021'), Decimal('337'), Decimal('20.83')),
 (1927972279, 'Wednesday', Decimal('2142'), Decimal('119'), Decimal('18.00'))]

# Mapping Daily Distance Variation.
In our data cartography, this SQL quest unfolds as a navigator, mapping the undulating terrains of daily distance variation within 'smart_watch_data.' By encapsulating the maximum and minimum distances for each 'Id' on each 'Day,' the code illuminates the explorers whose journeys span the widest distances. It's not just a calculation; it's a tale of the varied landscapes traversed daily. This code becomes a storyteller, sketching the contours of daily adventures, where the range of distances becomes a vibrant illustration of each individual's unique exploration within the diverse topography of their wellness journey.

In [ ]:
%%sql
SELECT Id, Day,
       MAX(TotalDistance) AS MaxDistance,
       MIN(TotalDistance) AS MinDistance,
       (MAX(TotalDistance) - MIN(TotalDistance)) AS DistanceRange
FROM smart_watch_data
GROUP BY Id, Day
ORDER BY Id, Day;

# Peaks of Inactivity Unveiled.
In our data panorama, this SQL panorama unfolds as an observer, gazing upon the peaks of sedentary time within 'smart_watch_data.' By aggregating the percentage of sedentary minutes against total minutes for each 'Id,' the code reveals the individuals with the highest proportion of inactive intervals. It's not just a percentage; it's a glimpse into the landscapes where stillness dominates. This code becomes a storyteller, narrating the chapters of those whose wellness journey encounters the heights of sedentary time, prompting reflection on the balance between rest and activity in the diverse terrain of daily life.

In [41]:
%%sql
SELECT Id,
       SUM(SedentaryMinutes) AS TotalSedentaryMinutes,
       SUM(VeryActiveMinutes + FairlyActiveMinutes + LightlyActiveMinutes + SedentaryMinutes) AS TotalMinutes,
       ROUND((SUM(SedentaryMinutes) / SUM(VeryActiveMinutes + FairlyActiveMinutes + LightlyActiveMinutes + SedentaryMinutes) * 100), 2) AS PercentageSedentary
FROM smart_watch_data
GROUP BY Id
ORDER BY PercentageSedentary DESC;

 * mysql+pymysql://root:***@localhost/pranav
7 rows affected.

[(1927972279, Decimal('40840'), Decimal('42101'), Decimal('97.00')),
 (1844505072, Decimal('37405'), Decimal('41028'), Decimal('91.17')),
 (1624580081, Decimal('38990'), Decimal('44197'), Decimal('88.22')),
 (1644430081, Decimal('34856'), Decimal('41138'), Decimal('84.73')),
 (2022484408, Decimal('34490'), Decimal('44196'), Decimal('78.04')),
 (1503960366, Decimal('26293'), Decimal('34905'), Decimal('75.33')),
 (2026352035, Decimal('21372'), Decimal('29339'), Decimal('72.85'))]